body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
.catalog-items{
  display: flex;
}
.catalog-item {
  width:300px;
  height:400px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.catalog-item img{
  height:345px;
  width:288px;
  
}